@model IEnumerable< WebApplication1.Models.Menu>

@{
    Layout = "AdminLayout";
}



<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>Welcome to <span>Restaurantly</span></h1>
                <h2>Delivering great food for more than 18 years!</h2>

                <div class="btns">
                    <a href="#bookings" class="btn-menu animated fadeInUp scrollto">View Caterer Menus</a>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Hero -->



<main id="main">
    <section id="bookings" class="bookings">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Menu List</h2>
                <p>View Existing Menus</p>
            </div>

            <div class="table-responsive">
                <table class="table table-dark table-hover">
                    <thead class="bg-gold text-white">
                        <tr>
                            <th style="text-align: left;">Name</th>
                            <th style="text-align: left;">Description</th>
                            <th style="text-align: left;">People</th>
                            <th style="text-align: left;">Price</th>
                            <th style="text-align: left;">Caterer</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="table-name">@item.MenuTitle</td>
                                <td>@item.MenuDescription</td>
                                <td class="text-gold">@item.NumberOfPeople</td>
                                <td class="text-gold">@item.Price</td>
                                <td class="table-name">@item.Caterer.Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
